<nav class="flex justify-between md:justify-end h-[clamp(2.5rem,5vw,4rem)] items-center">
  <!-- <label for="searchBar"><input type="search" name="search-bar" id="searchBar"></label> -->
  <button @click="sidebarOpen = true" class="md:hidden text-slate-200 res">☰</button>

  <a class="res-text-subheading mx-3.5 font-bold">User</a>
</nav>