<div class="sidebar py-4 flex flex-col gap-6">
  <div class="flex flex-col  gap-4">
    <div class="flex justify-between items-start px-3.5 border-b-2 border-slate-700 h-12 md:h-16">
      <h1 class="res-text-subheading font-bold font-mono">ArmaVault</h1>
      <button @click="sidebarOpen = false" class="md:hidden">✕</button>
    </div>
    <ul class="flex flex-col gap-2 ">
      <li class="<%= index %> sidebar-item"><a href="/">Firearms</a></li>
      <li class="<%= add %> sidebar-item"><a href="/add">Add Firearm</a></li>
    </ul>
  </div>
  <div class="flex flex-col gap-2">
    <h2 class="res-text-subheading font-bold px-3.5">Category</h2>
    <ul class="flex flex-col gap-2">
      <% categories.forEach(cat => { %>
      <li class="sidebar-item">
        <a href="/firearms?category=<%= cat.category_id %>">
          <%= cat.name %>
        </a>
      </li>
      <% }) %>
    </ul>
  </div>
</div>