<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body class="bg-slate-900 text-slate-100" x-data="{sidebarOpen: false}">
  <div class="min-h-screen flex">
    <!-- Mobile overlay -->
    <div x-show="sidebarOpen" @click="sidebarOpen = false" class="fixed inset-0 bg-black/50 z-30 md:hidden" x-transition></div>
    <!-- Sidebar here -->
    <aside class="fixed md:static z-40 inset-y-0 left-0 w-64 bg-slate-800 transform -translate-x-full
      md:translate-x-0 transition-transform duration-200" :class="{'translate-x-0': sidebarOpen}">
      <%- include('../partials/sidebar') %>
    </aside>

    <!-- Main content here -->
    <div class="flex-1 flex flex-col">
      <header class="bg-slate-700 border-b border-slate-700 w-full px-2 sm:px-7">
        <%- include('../partials/navbar') %>
      </header>

      <main class="flex-1 p-4 md:p6">
        <%- body %>
      </main>
    </div>

  </div>
</body>

</html>