<% if (locals.errors) { %>
<div x-data="{showError: true}" x-show="showError" x-transition.opacity.scale class=" flex flex-col items-center gap-4 w-[clamp(300px,80vw,400px)] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-slate-700 p-5 rounded-2xl border-2 border-red-400">
  <ul class="flex flex-col gap-1.5">
    <% errors.forEach(function(error) { %>
    <li class="text-xs text-red-400 list-disc"> <%= error.msg %></li>
    <% }); %>
  </ul>
  <div>
    <button @click="showError = false" class="py-2 px-3 rounded bg-red-400 res-text-body-text">Close</button>
  </div>

</div>
<% } %>