<div class="flex flex-col gap-10">
  <div>
    <h1 class="res-text-heading-1">Welcome To ArmaVault</h1>
    <p class="res-text-body-text">This is the main page</p>
  </div>

  <div class="flex flex-wrap justify-center gap-6 xl:justify-start overflow-y-auto max-h-[80vh]">
    <% if (locals.firearms) { %>
    <% firearms.forEach(firearm => { %>
    <%- include('components/firearmCard', {firearm}) %>
    <% }) %>
    <% } %>


  </div>
</div>